.background {
    background-color: rgb(170, 175, 232);
    height: 100%;
    width: 100%;
    position: absolute;
    img {
        position: relative;
    }
    .content {
        z-index: 1;
        margin: auto;
        height: 40rem;
        width: 40rem;
        background-color: aliceblue;
    }
    h1 {
        color: rgb(56, 35, 150);
        text-align: center;
        
    }
}