.second-container{
    padding-left: 14rem;
    .images{
        border: 1px solid grey;
        background-color: beige;
        width: fit-content;
        min-width: 20rem;
        margin-top: 2rem;
        margin-left: -17rem;
        margin-bottom: 2rem;

        .images-1{
            margin-left: 15rem;
        }
    }
    img {
        position: fixed;
        
        height: 2rem;
        width: 2rem;
    }
}
.wrk {
    background-color: antiquewhite;
    position: fixed;
    margin: auto;
    position: relative;
    bottom: 20rem;
    h1 {
        color: green;
    }
}