<div>

    <div [className]="'second-container'">
        <div *ngIf="next == true">
            <button (click)="handleAddFirstImg()">הוסף תמונה לאוסף</button>
        </div>
        <!-- *ngFor="let num of numbers let i = index" -->
        <div [className]="'images'" *ngFor="let num of numbers let i = index">
            <img (click)="handleDelImg()" [src]="imgGarbage" alt="">
            <div [className]="'images-1'">

                <h5>מספר תמונה</h5>
                <div>
                    <p>{{imgNumber}}</p>
                </div>
                <h5>נתיב שמירת תמונה</h5>
                <div>
                    <p>{{pathImg }}</p>
                    <p>{{num}}</p>
                </div>
                <div *ngFor="let item of addBackChecker" >
    
                    <div *ngIf="item.isChecked == true && item.value === num">
        
                        <h5>נתיב שמירת גב תמונה</h5>
            
                        <p>{{pathImg}}</p>
                        <p>__{{num}}</p>
            
                    </div>
                </div>
                <div>
        
                    <label for="back"> גב תמונה</label>
                    <input type="checkbox" id="backCheckbox" name="back" [(ngModel)]="isCheckboxChecked" (ngModelChange)="handleAddBack(num)">
                </div>
            </div>
        </div>
        
    </div>
    <button *ngIf="addImgBool == true" (click)="handleAddImg()">צרף תמונה נוספת</button>
</div>